<div class="container">
  <!-- <form class="form" #formNewperson="ngForm" (ngSubmit)="saveForm()"> -->

<br>
<div class="form-group"  >
<h4> פרטים אישיים</h4>
<br>
<label class="text-success">  שם משתמש</label>
<br>
<label >{{userName}}</label>
<br>
<label class="text-success">  מייל</label><label >   </label>
<br>
<label>{{email}}</label>
<br>
</div>
<div class="form-group" >
<h4>מהי מטרת הבקשה?</h4>
<br>
<!-- <nb-select placeholder="Menu" (selectedChange)="onMenuItemSelected($event)">
  <nb-option-group *ngFor="let rootMenu of rootMenus" title="{{rootMenu.rootMenu.name}}">
      <nb-option *ngFor="let menu of rootMenu.menus" value="{{menu.id}}">{{menu.name}}</nb-option>
  </nb-option-group>
</nb-select> -->

<nb-select  multiple status="primary" placeholder="בחר..." filled="false" name="multiselect" (selectedChange)="onMenuItemSelected($event)">
  <nb-option-group  style="background-color:white" title="בחר...">
  <nb-option class="options" style="background-color:white" *ngFor="let p of purposeList" value="{{p}}" name="option">{{p}}</nb-option>
</nb-option-group>
</nb-select>

<!-- <select [(ngModel)]="purpose">
    <option *ngFor="let p of purposeList">{{p}} </option>
   enviroment - מציג את רשימת המטרות ששמורה ב -->
<!--</select> -->
<br/>
<label> פירוט הבקשה</label>
<br>
<textarea (focusout)="next()" nbInput type ="text" id="purpose" name="textArea" [(ngModel)]="purposeDesc" ></textarea>
<button nbButton status="success"  (click)="next()"> הבא</button>
</div>
<!-- </form> -->
</div>
