<nb-card card-background-color="#ffffff">

  <label class="text-success"><i class="nb-coffee-maker"></i> שם הלומד

  </label>

  {{learner.learnerName}}
  <br>
  <label class="text-success">
    <i class="nb-keypad"></i> מייל</label>
  {{learner.learnerEmail}}
  <!-- if is a system learner -->
  <div *ngIf="learner.startDate!=null">
    <label class="text-success">
      <i class="nb-person"></i>מין</label>
    <br>
    {{learner.gender}}<br>
    <label class="text-success">
      <i class="nb-lightbulb"></i>
      שם עיסוק
    </label>
    <br>
    {{learner.occuptionId}}
<br>
    <label class="text-success">תאריך התחלת חברות בתוכנית </label>
    
    {{learner.startDate|date}}<br>
    <label class="text-success">
      תאריך סיום חברות בתוכנית
    </label>
    {{learner.endDate|date}}<br>
    <label *ngIf="learner.sosRequests!=null" class="text-success">מוכנות להודעות דחופות</label>
    <br>
    {{learner.sosRequests}}
  </div>

  <!-- for group learners -->
  <div *ngIf="learner.startDate==null">
    <label class="text-success">שם קבוצה:</label>
    <br>
    {{learner.groupName}}
    <label class="text-success"> מוכנות להיות לומד מערכת:</label>
    <br>
    {{learner.wantsToJoin}}
  </div>

</nb-card>