<button nbButton class="btn btn-success" (click)="toggleShowDetails()"> {{toggleShow}} ספרים  </button>
            <nb-card *ngFor="let learner of learners;index as i;" accent="info" card-background-color="#ffffff">
                <nb-card-header>
                    <!-- <nb-badge [text]="numOfActiveLearnings"  status="warning"></nb-badge> -->
                    <h3 class="text-info"> שם: {{learner.learnerName}}</h3> 
                </nb-card-header>

  <nb-card-body>  
    <!-- <nb-badge [text]="numOfActiveLearnings"  status="primary" position="top right" ></nb-badge> -->
    <!-- <div class="nb-badge-danger">{{numOfActiveLearnings}}</div> -->
                  <div class="">

                        <div >
                      <i class="nb-angle-double-left"></i>פרטים אישיים
                      <app-learner-details [learner]="learner" ></app-learner-details>
                      </div>
<div *ngIf="showDetails">
                          <i class="nb-angle-double-left"></i>פירוט הספרים
                        <app-books-for-learner (countActiveLearning)="getMessage($event)" [learner]="learner" ></app-books-for-learner>

</div>
                      <br>


                </div>
                </nb-card-body>
              </nb-card>
