<nb-card>

<h5>באפשרותך להגדיר קבוצות לומדים אישיות. ניתן לייבא קובץ אקסל בפורמט : שם, מייל, הקפד על איות מדויק של הכותרות הנ"ל... (ועוד הסברים טכניים...) לחילופין ניתן להוריד כאן קובץ אקסל ריק מתאים או למלא את הנתונים כאן באתר באופן ידנים</h5>
<h6>הקבוצה שהגדרת תקבל הצעות במייל ללימוד הספרים שבחרת ויקבלו הצעה להצטרף ללומדי המערכת הקבועים שלנו</h6>
  <h4>שם הקבוצה:</h4>
  <input type="text" nbInput>
<h5>כדי להכניס רשימה מוכנה דרך אקסל לחץ כאן</h5>
  <p-fileUpload name="myfile[]" url="http://localhost:62299/api/forRequest/addUpload" multiple="multiple" accept=".xlsx" [auto]="true" (onUpload)="onUpload($event)"
  ></p-fileUpload>
  <app-excel></app-excel>
  <button nbButton status="success">שמור</button>
  <button nbButton>להגדרת קבוצה נוספת</button>
</nb-card>

<h4>באפשרותך בנוסף להגדיר את שליחת הבקשה ללומדי המערכת שלנו. כעת או  לאחר זמן. תוכל להציע בקשה פתוחה לכולם או להגדיר קריטריונים מותאמים אישית</h4>
<nb-checkbox type="checkbox" id="notDiffDateClosedGroups" ></nb-checkbox>
<label>שלח את הבקשה מיד ללומדי המערכת</label>
<nb-checkbox type="checkbox" id="DiffDateClosedGroups" (change)="diffDateClosedGroups=!diffDateClosedGroups"></nb-checkbox>
<label>שלח בתאריך אחר</label>
<div *ngIf="diffDateClosedGroups">
  <label>בחר תאריך:</label>
  <input [nbDatepicker]="datepicker">
  <nb-datepicker #datepicker></nb-datepicker>
</div>
<h4>הגדרת קבוצות אישיות:</h4>
  <!-- <br> -->
  <h5>לפי ההגדרות שתכניס כאן המערכת תשלח את בקשתך ללומדים המתאימים.</h5>
  <!-- <br> -->
  <!-- <nb-radio-group [(value)]="selected" >
    <nb-radio  (change)="mychange($event)"> זכר</nb-radio>
    <nb-radio  (change)="mychange($event)"> נקבה</nb-radio>
    <nb-radio  (change)="mychange($event)"> לא משנה</nb-radio>
  </nb-radio-group> -->

    <nb-checkbox  (change)="mychange(0)"> זכר</nb-checkbox>
    <nb-checkbox   (change)="mychange(1)"> נקבה</nb-checkbox>
    <nb-checkbox  (change)="mychange(2)"> לא משנה</nb-checkbox>


<!-- <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selected">
  <mat-radio-button class="example-radio-button" *ngFor="let gender of genders " [value]="gender">
    {{gender}}
  </mat-radio-button>
</mat-radio-group> -->
<!-- <div>Your wanted gender is: {{selected}}</div> -->

  <!-- <input type="radio" name="gender" value="זכר" [(ngModel)]="selected" (change)="mychange()" />זכר
  <input type="radio" name="gender" value="נקבה" [(ngModel)]="selected" (change)="mychange()" />נקבה
  <input type="radio" name="gender" value="לא משנה" [(ngModel)]="selected" (change)="mychange()" checked/>לא משנה -->
  
  <!-- <nb-select multiple status="primary" placeholder="בחר..." filled="false" [(ngModel)]="req.donor.occuptionDesc" >
    <nb-option *ngFor="let occuption of viewOccupations" >{{occuption.occupationName}}</nb-option>
  </nb-select> -->

  <nb-select multiple status="primary" placeholder="בחר..." filled="false" name="multiselect" (selectedChange)="onMenuItemSelected($event)">
    <nb-option-group  title="בחר...">
    <nb-option *ngFor="let occuption of viewOccupations" value="occuption.occupationName">{{occuption.occupationName}}</nb-option>
  </nb-option-group>
  </nb-select>
  <!-- <nb-select multiple status="primary" placeholder="בחר..." filled="false" [(ngModel)]="chosenTest" >
      <nb-option *ngFor="let test of viewtest" >{{test}}</nb-option>
    </nb-select> -->
  <!-- <select id="idOccuption" [(ngModel)]="req.donor.occuptionDesc">
    <br>
    <option *ngFor="let occuption of viewOccupations">{{occuption.occupationName}} </option>
  </select> -->
  <label>
</label>


<br>
