<nb-card>

<h4>
   תוכל להציע בקשה פתוחה לכולם או להגדיר קריטריונים מותאמים אישית</h4>
<nb-checkbox type="checkbox" id="notDiffDateClosedGroups" ></nb-checkbox>
<label>שלח את הבקשה 

   ללומדי המערכת</label>

<h4>הגדרות  אישיות:</h4>

  <label>לפי ההגדרות שתכניס כאן המערכת תשלח את בקשתך ללומדים המתאימים.</label>
  

    <nb-checkbox  (change)="mychange(0)"> זכר</nb-checkbox>
    <nb-checkbox   (change)="mychange(1)"> נקבה</nb-checkbox>
    <nb-checkbox  (change)="mychange(2)"> לא משנה</nb-checkbox>



 

  <nb-select  status="primary" placeholder="בחר..." filled="false" name="multiselect" (selectedChange)="onMenuItemSelected($event)">
    <nb-option-group  title="בחר..." style="background-color:white" >
    <nb-option style="background-color:white"  *ngFor="let occuption of viewOccupations" value="occuption.occupationName">{{occuption.occupationName}}</nb-option>
  </nb-option-group>
  </nb-select>
 
  <label>
</label>
<button nbButton status="success"  (click)="prev()"> הקודם</button>
<button nbButton status="success"  (click)="next()"> הבא</button>
<br>
