<!-- <p-fileUpload name="myfile[]" url="http://localhost:62299/api/forRequest/addUpload" multiple="multiple" accept=".xlsx" [auto]="true" (onUpload)="loadDocument($event)" #LoadDocument
></p-fileUpload> -->
<h4 class="text-success">הורד את הקובץ הריק שלנו: </h4>

<button nbButton (click)="downloadFile('OtzarHalimud')" > הורד קובץ </button>
<h4 class="text-success">הזן את פרטי הלומדים הפוטנציונליים.</h4>

<label for="LoadDocument" class="browse">
  <h4 class="text-success">
  העלה את הקובץ המעודכן:</h4></label>
<br>
<input nbInput type="file" (change)="readURL($event)" name="LoadDocument" #LoadDocument  />

<button nbButton (click)="saveFile()" >שלח קובץ</button>
