<div class="rtl">
<nb-layout>
  <nb-layout-header fixed>
    <!-- <nb-search type="rotate-layout"></nb-search> -->
    <!-- profil -->
    <!-- <button style='position:absolute; top:0; left:0;' [nbContextMenu]="items" nbContextMenuPlacement="right"
      class="btn btn-primary">  
      <nb-user [name]="userToDisplay" [title]="learner" shape="semi-round"></nb-user>

    </button> -->
    <img style='position:absolute; top:0; right:0;width: 10%;height: 100%;' src="../assets/pictures/otzarLogo.jpg">

  </nb-layout-header>
  <nb-sidebar responsive>
    <i class="eva eva-github"></i>
    <div *ngIf="init"></div>
    <nb-menu [items]="sidebarItems"></nb-menu>

  </nb-sidebar>
  <!-- <nb-layout-column>
     <embed src="../assets/docs/otzar halimud desc.txt"> -->
    <!-- <div class="rtl">

    </div>
  </nb-layout-column> -->

  <nb-layout-column >
    <div>
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
    </div>
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
</div>
