<div class="rtl">
<!-- <a [routerLink]="['purpose']" class="btn btn-link">לימוד חדש</a> -->
<!-- <button (click)="newl()">לימוד חדש</button> -->
<!-- <router-outlet>


</router-outlet> -->
<nb-stepper orientation="horizontal" #stepper disableStepNavigation>
  <nb-step label="פרטים אישיים">
     <nb-card accent="success" card-background-color="#ffffff">
        <nb-card-header>
            <h3 class="text-success">תודה שבחרת באוצר הלימוד  </h3>
      </nb-card-header>
      <nb-card-body>
        <app-purpose (continue)="nextStep($event)"></app-purpose>
      </nb-card-body>
      </nb-card>
  </nb-step>
  <nb-step label="בחירת ספר">
      <nb-card accent="success" card-background-color="#ffffff">
          <nb-card-header>
              <h3 class="text-success">  ספרים  </h3>
        </nb-card-header>
        <nb-card-body>
          <app-book (continue)="nextStep($event)" (back)="stepBack($event)"></app-book>
        </nb-card-body>
        </nb-card>

    </nb-step>
  <nb-step label="תשלום">
      <nb-card accent="success" card-background-color="#ffffff">
          <nb-card-header>
              <h2 class="text-success">תשלום </h2>
        </nb-card-header>
        <nb-card-body>
          <app-payments (continue)="nextStep($event)" (back)="stepBack($event)"></app-payments>
        </nb-card-body>
        </nb-card>

    </nb-step>
    <nb-step label="טווח זמן" [stepControl]="form">
        
          
        <nb-card accent="success" card-background-color="#ffffff">
            <nb-card-header>
                <h2 class="text-success">טווח זמן</h2>
          </nb-card-header>
          <nb-card-body>
            <app-time (continue)="nextStep($event)" (back)="stepBack($event)"></app-time>
          </nb-card-body>
          </nb-card>       
  </nb-step>

  <nb-step label="קבוצות לומדים">
      <nb-card accent="success" card-background-color="#ffffff">
          <nb-card-header>
              <h2 class="text-success">קבוצות</h2>
        </nb-card-header>
        <nb-card-body>
    <app-group (continue)="nextStep($event)" (back)="stepBack($event)"></app-group>
        </nb-card-body>
        </nb-card>

</nb-step>
<nb-step label="סיכום">
    <nb-card accent="success" card-background-color="#ffffff">
        <nb-card-header>
            <h3 class="text-success">להלן פרטי הבקשה, עבור עליהם בעיון</h3>
      </nb-card-header>
      <nb-card-body>
      <app-final-screen (back)="stepBack($event)"></app-final-screen>
      </nb-card-body>
      </nb-card>

</nb-step>
</nb-stepper>
</div>
