<div class="rtl">
  <nb-layout>
    <nb-sidebar responsive>
      <i class="eva eva-github"></i>
      <div *ngIf="init"></div>
      <nb-menu [items]="sidebarItems"></nb-menu>
    </nb-sidebar>
    <nb-layout-column layout-content-width=50%>
      <div class="rtl">
        <h2 class="text-success">ברוכים הבאים לאוצר הלימוד</h2>
        <br>
        אוצר הלימוד הינו הפלטפורמה שלנו לתיווך לומדים ויזמים המעוניינים לעודד לימוד.
        <br>
        תפגשו כאן פלטפורמה מדהימה הניתנת להתאמה לפי כמה אפשרויות:
        <br>
        <br>
        <h4 class="text-success">יזם:</h4>

        <br>
        תוכל לבחור בין קבוצות לימוד של לומדי המערכת לקבוצות של מתנדבים פוטנציונליים.
        באפשרותך לבחור בין לימוד של ספר או חלקי ספר, לבחור את טווח הזמן ואת התדירות של הלימוד, תוכל להגדיר תשלום ועוד.
        <br>
        איך זה עובד?
        <br>
        היכנס לאתר, הגדר חשבון אישי באמצעות מייל בלבד, צור תוכניות לימוד, ותוכל לצפות בתוכניות הקיימות.
        <br>
        להתראות...
        <br>
        <br>
        <h4 class="text-success">לומד:</h4>

        <br>
        באפשרותך לבחור להצטרף לתוכניות הלימוד הפתוחות ללומדי המערכת שלנו. תוכל לצפות בתוכניות שלך באמצעות לוח שנה
        כשתוכניות הלימוד נמצאות שם על פי תאריכי הלימוד.
        <br>
        איך זה עובד?
        <br>
        היכנס לאתר, פתח חשבון אישי, ותוכל להתחיל לבחור ממגוון התוכניות הקיימות. בנינו עבורך ממשק נוח לחיפוש ומיון
        אפשרויות הלימוד.
        לאחר מכן תוכל לצפות בלוח השנה שלך עם תוכניות הלימוד שלך.
        <br>
        להתראות...
        <br>
        <strong>לתמיכה: otzarlimud@gmail.com</strong>
      </div>
    </nb-layout-column>
    <nb-layout-column layout-content-width=50%>
      <div>
        <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
      </div>
      <router-outlet></router-outlet>
    </nb-layout-column>
  </nb-layout>
</div>