<p>
  groups-settings works!
</p>
<h1>ספרים תפוסים</h1>
<h2>יש כאן אפשרות לבחור ספר שלם
  ואחכ לקבל פירוט של כל תתי הספרים שלה. שם אפשר לסמן על ספרים ליד כל אחד יש תיבת סימון אפשא לסמן שהיא תפוסה ויש אייקון רם רוצים לפתוח ולפרט מי תפס אותה ו</h2>
  <h1>אנשים תפוסים</h1>
  <h2>קודם היתה אפשרות לסמן מי תפס אותר להדגיש בעיצוב שזה דרך לרשום אנשים למערכת</h2>
  <h2>
    חוץ מזה יש אנשים שהם תפוסים שפשוט רוצים להציע להם להצטרף למאגר - כרן ניתן למלא שמות כדי לשלוח להם מייל בקלות ואו</h2>
    <h2>ואולי גם נרפשר כאן יבו מאקסל.</h2>
    <h1>רפשר גם להגדיר קבוצה שחייבת ללמוד רושמים רותה בתור קבוצה והם יכולים לבחור חלק רו שנותנים לכל אחד אוטומטי</h1>
