<button nbButton status="info" (click)="navToProfile()">לעריכת הפרופיל האישי</button>
<button nbButton (click)="addNewRequest()">להוספת תוכנית לימוד חדשה</button>
<div class="rtl">
    <!-- <nb-search type="modal-half"></nb-search> -->
    <nb-tabset responsive>
        <nb-tab tabTitle="בקשות"
        
          tabIcon="nb-tables">
            <app-dashboard-requests></app-dashboard-requests>
        </nb-tab>

        <nb-tab tabTitle="ספרים"
        
          tabIcon="nb-list">
          <br>
          <app-dashboard-books></app-dashboard-books>
              <br>
              <br>
        </nb-tab>
        <nb-tab tabTitle="לומדים"  tabIcon="nb-person">
<!-- הצגה לפי לומדים -->
<app-dashboard-learners></app-dashboard-learners>
          </nb-tab>
       </nb-tabset>
       <button nbButton (click)="addNewRequest()">להוספת תוכנית לימוד חדשה</button>

</div>
